<ul class="nav justify-content-center mb-5">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_home') }}">Statistiques</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mois en cours</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_history') }}">Historique</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Ajouter une entrée</a>
    </li>
  </ul>
