{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <div class="container">
        {% include 'home/_menu.html.twig' %}

        <h4>Statistiques</h4>

    </div>
{% endblock %}
